<div class="featurepanel">
    <script type="text/javascript" charset="utf-8">
        madrona.onShow(function(){
            madrona.setupForm($('#addUserLayerForm'));
            var max_step = 2;

            var step = 1;

            function validate(step) {
                return_value = true;
                if (step == 1) {
                    // if ( app.viewModel.scenarios.drawingFormModel.isDrawing()) {
                    //     $('#double-click-instructions').effect("highlight", {}, 1000);
                    //     return_value = false;
                    // } else if ( ! app.viewModel.scenarios.drawingFormModel.hasShape() ) {
                    //     $('#click-to-begin-drawing').effect("highlight", {}, 1000);
                    //     return_value = false;
                    // }
                } else if (step == max_step) {

                }
                return return_value;
            };

            function wizard(action) {
                if (step == 1 && action == 'next') {
                    if (validate(step)) {
                        step += 1;
                        // app.viewModel.userLayers.userLayerFormModel.completeEdit();
                        // $('#id_geometry_orig')[0].value = 'SRID=3857;' + app.getLayerFeatureAsWKT(app.map.drawingLayer, 0);
                    }
                } else if (step > 1 && action == 'prev') {
                    step -= 1;
                }
                $('div.step').each(function(index) {
                    $(this).hide();
                });
                $('div#step' + step).show();

                if (step == 1) {
                    $('#button_prev').hide();
                    $('#button_submit').hide();
                } else {
                    $('#button_prev').show();
                }

                if (step == max_step) {
                    $('#button_next').hide();
                    $('.submit_button').show();
                } else {
                    $('#button_next').show();
                    $('.submit_button').hide();
                }
            };

            function hideOptions() {
                var hidden_options = [
                    "radio",
                    "checkbox",
                    "placeholder",
                ];
                for (var i = 0; i < hidden_options.length; i++) {
                    $('option[value="' + hidden_options[i] + '"]').css({'display':'none',});
                }
                $('#id_layer_type').change();

            }

            function importWmsOptions(event) {
                
                // Get wms_slug value
                wms_slug_val = $("#id_wms_slug").val();
                // Get wms_srs value
                wms_srs_val = $("#id_wms_srs").val();

                // temporary constants
                wms_version = '1.3.0';

                // IF CHECKED (wms_help_box.checked):
                if (event.target.checked){
                    //  Start spinner
                    $('body').css("cursor:wait");
                    //  Get URL
                    url = $("#id_url").val();
                    //  AJAX GetCapabilities
                    $.ajax({
                        url: "/data_manager/wms_capabilities/?url=" + url,
                        success: function(data) {
                            debugger;
                            //      SUCCESS
                            //          Replace slug input with dropdown element
                            //              Insert option for prior wms_slug value (if any, and not in options)
                            //          Replace SRS input with dropdown element
                            //              Insert option for prior wms_srs value (if any, and not in options)
                            //          ALERT user if user-added layer or srs value is not found.
                        },
                        error: function(data) {
                            debugger;
                            //      FAIL
                            //          Print meaningful error message to screen
                            //              NOT WMS?
                            //              MISSING REQUIRED PARAM?

                        }
                    }).done(function() {
                        //      FINALLY
                        //          Kill Spinner
                        $("body").css("cursor:unset");
                    });

                } else {
                    debugger;
                    // ELSE (UNCHECKED)
                    //  Set wms_slug to input with wms_slug value
                    //  Set wms_srs to input with wms_srs value

                }
            }

            $("#wms_help").click(importWmsOptions);

            $('#id_layer_type').change(function() {
                var layer_type_selected = $('#id_layer_type').val();
                var arclayer_types = ['ArcRest', 'ArcFeatureServer'];

                if (arclayer_types.indexOf(layer_type_selected) >= 0) {
                    $('#arcgis-layer-field').css({'display':'inherit',});
                } else {
                    $('#arcgis-layer-field').css({'display':'none',});
                }

                if (layer_type_selected == 'WMS') {
                    $('#wms-fields').css({'display': 'inherit',});
                } else {
                    $('#wms-fields').css({'display': 'none',});
                }
            })

            $('#button_prev').click( function() { wizard('prev'); });
            $('#button_next').click( function() { wizard('next'); });
            step = 1;
            {% if form.errors %}
                step = 2; // form errors exist
            {% endif %}
            wizard();
            hideOptions();
            $('i.fa-info-circle').tooltip();

            $('#id_name').keypress(function (e) {
                if (e.which === 13) {
                    $('#user-layer-form .submit_button').click();
                    return false;
                } else {
                    $('#invalid-name-message').hide();
                }
            });

            $('#user-layer-help-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var userlayer_help_topic = button.data('userlayer_help_topic');
                var userlayer_help_content = button.data('userlayer_help_content');

                $('#user-layer-help-modal-topic').html(userlayer_help_topic);
                $('#user-layer-help-modal-content').html(userlayer_help_content);
            });
        });
    </script>

    <h4>Import Layer</h4>

    <form id="addUserLayerForm" action="{{action}}" method="post">
        {% for hidden in form.hidden_fields %}
            <div style="display:none;">
                {{ hidden.errors }}
            </div>
            {{ hidden }}
        {% endfor %}
        <div id="error_bar"></div>

        <div id="step1" class="step">
            <p class="step-text"><i>Step 1 of 2 </i></p>
            <label>
                Source URL Endpoint:
                <i class="fa fa-info-circle" data-toggle="modal" 
                    style="cursor: pointer"
                    data-original-title="Help"
                    data-target="#user-layer-help-modal"
                    data-userlayer_help_topic="Source URL Endpoints";
                    data-userlayer_help_content="
                        <div>
                            <p>
                                Map layers from outside sources can be displayed on the Portal and saved in your MyPlanner tab using this tool. 
                                To import a layer you will need the following:
                            </p>
                            <ul>
                                <li>The URL where the layer's data is served from</li>
                                <li>The type of web service it is</li>
                            </ul>
                            <p>
                                As a first step, you’ll need to enter the map layer’s URL or “end point” into this form. 
                                Below is a brief overview of the layer source types that can be imported.
                            </p>
                            <p>
                                Based on your service type, the URL may look quite different:
                            </p>
                            <ul>
                                <li>
                                    <b>'ArcRest'</b> MapServer (ESRI):
                                    <ul>
                                        <li> One of the most common sources of map layers</li>
                                        <li> You will need to provide the IDs of the layers you wish to include in a special 'ArcGIS Layers' field in a later step.</li>
                                        <li>Urls look like: https://{domain}/{path}/rest/services/{service}/{layer_name}/MapServer/</li>
                                        <li><i>Example:</i> https://coast.noaa.gov/arcgis/rest/services/MarineCadastre/2015VesselTransitCounts_AllVessels/MapServer/</li>
                                    </ul> 
                                </li>
                                <li>
                                    <b>ArcFeatureServer</b> (ESRI): 
                                    <ul>
                                        <li>A very popular and modern source for map layers</li>
                                        <li> You will need to provide the IDs of the layers you wish to include in a special 'ArcGIS Layers' field in a later step.</li>
                                        <li>Urls look like: https://{domain}/{path}/rest/services/{service}/FeatureServer/</li>
                                        <!--
                                            <li><i>Example:</i> https://biamaps.doi.gov/server/rest/services/Hosted/Tribal_Leaders_Directory_Source_File_DO_NOT_DELETE/FeatureServer/</li>
                                        -->
                                        <li><i>Example:</i> https://coast.noaa.gov/arcgismc/rest/services/Hosted/AtoNs/FeatureServer/</li>
                                    </ul>
                                </li>
                                <li>
                                    <b>XYZ</b> also known as 'tiles': 
                                    <ul>
                                        <li>Also very common, this service serves raster maps cut into image tiles which are referenced by an X, Y, and Z value.</li>
                                        <li>These layers require a bit more knowledge about your source. Not only do you need to know the URL, but also which order the X, Y, and Z values are put into your URL 'template'</li>
                                        <li>Urls look like: https://{domain}/{path}/{XYZ_template}</li>
                                        <li><i>Examples:</i></li>
                                        <ul>
                                            <li>ESRI MapServer w/ 'Tiles':</li>
                                            <ul>
                                                <li>https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}</li>
                                                <li>Note that these are in Z-Y-X order and have no specified file format, and no trailing slash.</li>
                                            </ul>
                                            <li>OpenStreetMap Tiles:</li>
                                            <ul>
                                                <li>https://a.tile.openstreetmap.org/{z}/{x}/{y}.png</li>
                                                <li>Note that these are in Z-X-Y order and specifies a '.png' file format.</li>
                                            </ul>
                                        </ul>
                                    </ul>
                                </li>
                                <li>
                                    <b>Vector</b> layers: 
                                    <ul>
                                        <li>Very powerful and relatively light-weight these can be defined by a single file (often .json)</li>
                                        <li>Note: At this time there is no way to apply styles or import styles, so all features come in as orange shapes.
                                        <li>Urls look like: https://{domain}/{path}/{file}</li>
                                        <li><i>Example:</i> https://portal.midatlanticocean.org/nativeland/wp-content/themes/Native-Land-Theme/files/indigenousTerritories.json</li>
                                    </ul>
                                </li>
                                <li>
                                    <b>VectorTile</b>: 
                                    <ul>
                                        <li>Very powerful and extremely light-weight, these mix the power of vector layers with the bite-size demands of tiles</li>
                                        <li>These layers require a bit more knowledge about your source. Not only do you need to know the URL, but also which order the X, Y, and Z values are put into your URL 'template'</li>
                                        <li>Note: At this time there is no way to apply styles, or import styles, so all features come in as orange shapes.
                                        <li>Urls look like: https://{domain}/{path}/{XYZ_template}.{format}</li>
                                        <li><i>Example:</i> https://ahocevar.com/geoserver/gwc/service/tms/1.0.0/ne:ne_10m_admin_0_countries@EPSG%3A900913@pbf/{z}/{x}/{-y}.pbf</li>
                                        <li>Note the '-y' in the template -- again, this may require very specific knowledge of your service to get layers to show correctly.</li>
                                        <li>Common formats include .pbf and .mvt</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    ";
                >
                </i>
            </label>
            <!-- <i id="results-disclaimer" class="info-icon icon-info-sign field-tooltip" data-toggle="tooltip" data-original-title="Tooltip!" data-placement="right"></i> -->
            <p class="instructions">Provide the URL and layer type for your source:</p>
            <div class="step1-inputs">
                <div class="step1-param">
                    {{ form.url.errors }}
                    {{ form.url }}
                </div>
            </div>
            <label>Layer Source Type:</label>
            <div class="step1-inputs">
                <div class="step1-param">
                    {{ form.layer_type.errors }}
                    {{ form.layer_type }}
                </div>
            </div>

            <div id="arcgis-layer-field">
                <p class="instructions">Provide the layer IDs (separate with commas, if more than 1) for your ArcServer layers:</p>
                <div class="step1-inputs">
                    <div class="step1-param">
                        {{ form.arcgis_layers.errors }}
                        {{ form.arcgis_layers }}
                    </div>
                </div>
            </div>

            <div id="wms-fields">

                <div id="wms-help-field">
                    <!-- <p class="instructions">Populate Field Options:</p> -->
                    <div class="step1-inputs">
                        <div class="step1-param">
                            <label for="wms_help">
                                Populate Field Options: 
                                <input type="checkbox" id="wms_help" name="wms_help"">
                            </label>
                            
                        </div>
                    </div>
                </div>

                <div id="wms-layer-field">
                    <p class="instructions">Layer Name:</p>
                    <div class="step1-inputs">
                        <div class="step1-param">
                            {{ form.wms_slug.errors }}
                            {{ form.wms_slug }}
                        </div>
                    </div>
                </div>

                <div id="wms-proj-field">
                    <p class="instructions">Projection/CRS:</p>
                    <div class="step1-inputs">
                        <div class="step1-param">
                            {{ form.wms_srs.errors }}
                            {{ form.wms_srs }}
                        </div>
                    </div>
                </div>

                <div id="wms-extra-params-field">
                    <p class="instructions">Extra Parameters ("&FOO=BAR..."):</p>
                    <div class="step1-inputs">
                        <div class="step1-param">
                            {{ form.wms_params.errors }}
                            {{ form.wms_params }}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="step" id="step2">
            <p class="step-text"><i>Step 2 of 2 </i></p>
            <p class="instructions">Provide a <b>Name</b> to identify your Layer </p>
            <div class="step3-inputs">
                <div class="step3-param">
                    {{ form.name.errors }}
                    {{ form.name }}
                    <div id="invalid-name-message" class="control-group error" style="display: none;">
                        <span class="help-inline">The <b>Name</b> field is required.</span>
                    </div>
                </div>
                <p class="instructions">Optionally, you may add a <b>Description</b> </p>
                <div class="step3-param">
                    {{ form.description.errors }}
                    {{ form.description }}
                </div>
            </div>
        </div>

        <div class="wizard_nav">
            <div class="btn-group pull-right">
                <a href="#" class="btn btn-default" onclick="this.blur(); return false;" id="button_prev"><span>&lt; Previous</span></a>
                <a href="#" class="btn btn-primary"  onclick="this.blur(); return false;" id="button_next"><span>Next &gt;</span></a>
                <a href="#" class="submit_button btn btn-primary" onclick="this.blur(); return false;"><span>Save</span></a>
            </div>
        </div>

        <div>
            <div class="btn-group pull-left">
                <a href="#" class="cancel_button btn btn-default"><span>Cancel</span></a>
            </div>
        </div>
    </form>

</div>

<div id="user-layer-help-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="user-layer-help-modal-title">
                User-Imported Layer Help
            </div>
            <div class="modal-body">
                <h3 id="user-layer-help-modal-topic"></h3>
                <div id="user-layer-help-modal-content"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
