
<div style="display:none" id="bookmark-popover" class="popover fade left in" data-bind="with: bookmarks">
    <div class="arrow">
    </div>
    <div class="popover-inner">
        <h3 class="popover-title" style="font-size: 16px; font-weight: bold">
            Mapview Bookmarks
        </h3>
        <a data-bind="click: cancel" class="btn close-popup">
            <i class="fa fa-close"></i>
        </a>
        <div class="popover-content">
            <form data-bind="submit: saveBookmark" style="margin-bottom: 5px">
            {% csrf_token %}
                <input type="text" data-bind="value: newBookmarkName" class="input" placeholder="Add New">
                <div class="pull-right">
                    <button class="btn" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>

</div>