{% extends "visualize/planner.html" %}
{% load static %}

{% block extra_css %}
      {{ block.super }}
      <link href="{% static 'visualize/css/embedded.css' %}" rel="stylesheet">
{% endblock%}

{% block body_class %}template-visualize{% endblock %}

{% block top-level %}
{% endblock %}


{% block outer_content %}

    <div class="container-fluid" id="primary-content">
        <div id="fullscreen">
            <div id="map-wrapper">
                <div id="map" click="click: outsideSubLayer"></div>
                <div id="map-controls"></div>
                <!-- the following container is used to estimate width for the actual Aggregated Attribution Overlay -->
                <div id="aggregated-attribute-overlay-test" style="position: absolute; visibility: hidden; height: auto; width: auto; top:0px">
                    <div data-bind="foreach: attributeLayers()" style="overflow: hidden; max-height: 10px;">
                        <div data-bind="css: {display: $root.aggregatedAttributes()[featureAttributionName] ? 'block' : 'none'}">
                            <h4 data-bind="text: featureAttributionName"></h4>
                            <dl data-bind="foreach: { data: $root.aggregatedAttributes()[featureAttributionName], afterAdd:$root.updateMarker }">
                                <dt>
                                    <span data-bind="text: display"></span><span data-bind="visible: display && data ? true : data===0">:</span>
                                    <span style="font-weight: normal" data-bind="html: data"></span>
                                </dt>
                            </dl>
                        </div>
                    </div>
                </div>
                <!-- Aggregated Attribution Overlay -->
                <div id="aggregated-attribute-overlay" data-bind="visible: aggregatedAttributes && showFeatureAttribution, style: {width: aggregatedAttributesWidth}" style="display: none">
                    <div id="aggregated-attribute-heading">
                        <h4>Available Information</h4>
                    </div>
                    <div id="aggregated-attribute-content" class="accordion">
                        <div data-bind="foreach: attributeLayers()">
                            <div class="accordion-group">
                                <div data-bind="visible: $root.aggregatedAttributes()[featureAttributionName]">
                                    <div class="accordion-heading" data-bind="click: toggleLayerAttribution, css: { 'active': showingLayerAttribution }">
                                        <a class="accordion-toggle">
                                            <span data-bind="text: featureAttributionName"></span>
                                        </a>
                                    </div>
                                    <div class="accordion-body collapse in" data-bind="attr: { id: $root.convertToSlug(featureAttributionName) }" >
                                        <div class="accordion-inner">
                                            <dl data-bind="foreach: { data: $root.aggregatedAttributes()[featureAttributionName], afterAdd:$root.updateMarker }">
                                                <dt>
                                                    <!-- ko if: $data.hasOwnProperty("tab") -->
                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    <!-- /ko -->
                                                    <span data-bind="text: display"></span><span data-bind="visible: display && data ? true : data===0">:</span>
                                                    <span style="font-weight: normal" data-bind="html: data"></span>
                                                </dt>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span id="close-attribute-overlay" class="pull-right"><a href="#" style="position: absolute; top: 0px; right: 0px; opacity: .6;" class="btn btn-mini close" data-bind="click: closeAttribution"> x </a> </span>
                </div>

                <div id="left-panel" class="panel panel-default collapsible" data-bind="css: { collapsed: !showLayers() }">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a data-bind="click: toggleLayers" class="collapse-button">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="frame tabs" id="data-panel" data-bind="visible: showLayers()">

                            <div class="sidebar-nav">
                                <ul id="myTab" class="nav nav-tabs">
                                    <li data-tab="legend" >
                                        <h4>
                                            <a href="#legend" data-toggle="tab" id="legendTab">Legend</a>
                                        </h4>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">

                                    <!-- LEGEND TAB -->
                                    <div class="tab-pane active" id="legend">
                                        <div id="embedded-legend-wrapper">
                                            <div id="embedded-legend-content">
                                                <div style="padding: 10px">
                                                    <div data-bind="visible: activeLegendLayers().length == 0">
                                                        No data layers containing legends are activated.
                                                    </div>

                                                    <div data-bind="foreach: activeLegendLayers">
                                                    <!--<div data-bind="foreach: { data: activeLegendLayers, afterRender: updateScrollBars }">-->
                                                        <div style="padding-bottom: 18px;">
                                                            <span class="pagination-centered legend-title" data-bind="html: legendTitle ? legendTitle : name"></span>
                                                            <p class="legend-subtitle" data-bind="visible: legendSubTitle, html: legendSubTitle"></p>
                                                            <span data-bind="if: legend">
                                                                <div data-bind="if: legend['elements']">
                                                                    <div data-bind="foreach: legend['elements']">
                                                                        <div>
                                                                            <img data-bind="attr: {src: swatch}" />
                                                                            <span data-bind="text: label" style="font-size: 11px; font-weight: bold;"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-bind="if: !legend['elements']">
                                                                    <div data-bind="css: { 'in': legendVisibility }" style="padding: 5px 0 0 10px;">
                                                                        <img data-bind="attr: { src: legend }" />
                                                                    </div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END LEGEND TAB -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="timestamp" data-bind="visible: mapTitle"><span data-bind="text: new Date().toString('M/d/yyyy HH:mm')"></span></span>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/embedded.js' %}"></script>

{% endblock %}

{% block sticky_footer %}
{% endblock %} <!-- Sticky footer -->
