<!-- Export dialog -->
<div id="export-geometry" class="modal fade" data-bind="with: app.viewModel.scenarios.sharingLayer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h3>Export <span data-bind="text: name"></span></h3>
            </div>
            <div class="modal-body">
                <p>&ldquo;<span data-bind="text:name"></span>&rdquo; is available for export in the following formats:</p>
                <p><a data-bind="attr:{href: shapefileDownloadLink()}" class="btn btn-default">Export as Shapefile</a> <sup><a title="What is a shapefile?" href="https://en.wikipedia.org/wiki/Shapefile" target="_blank"><i class="fa fa-question-circle"></i></a></sup></p>
                <p><a data-bind="attr:{href: geojsonDownloadLink()}" class="btn btn-default">Export as GeoJSON</a> <sup><a  title="What is a GeoJSON?" href="http://geojson.org/" target="_blank"><i class="fa fa-question-circle"></i></a></sup></p>
                <p><a data-bind="attr:{href: wktDownloadLink()}" class="btn btn-default">Export as WKT (text file)</a> <sup><a  title="What is a Well-known-text?" href="https://en.wikipedia.org/wiki/Well-known_text" target="_blank"><i class="fa fa-question-circle"></i></a></sup></p>
                <p><a data-bind="attr:{href: kmlDownloadLink()}" class="btn btn-default">Export as KML</a> <sup><a  title="What is a KML?" href="https://developers.google.com/kml/" target="_blank"><i class="fa fa-question-circle"></i></a></sup></p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- HELP MODAL -->

<div id="help-modal" class="modal hide fade" data-bind="with: app.viewModel">
    <div class="modal-header" style="min-height: 20px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body" style="text-align: center">
      <div class="row-fluid">
        <div class="span7" data-bind="style: {display: hideTours() ? 'none': 'block'}, css: {span7: !hideTours()}">
            <h4>Tour the MARCO Marine Planner</h4>
            <div style="text-align: center">
            <ul class="unstyled" style="margin-left: 1px">
                <li><a href="#" data-dismiss="modal" data-bind="click: startDefaultTour">Tour the Basics</a></li>
                <li><a href="#" data-dismiss="modal" data-bind="click: startDataTour">Tour the Data Tab</a></li>
                <li><a href="#" data-dismiss="modal" data-bind="click: startActiveTour">Tour the Active Tab</a></li>
                {% if user.is_authenticated %}
                <li><a href="#" data-dismiss="modal" data-bind="click: startDesignsTour">Tour the Designs Tab</a></li>
                {% endif %}
            </ul>
            </div>
        </div>
        <div class="span5" data-bind="css: {span5: !hideTours(), span12: hideTours()}">
            <h4>Contact Us</h4>
            <ul class="unstyled" style="margin-left: 1px">
                <li>Email: <a href="#" data-toggle="modal" data-target="#feedback-modal" data-dismiss="modal">portal@midatlanticocean.org</a></li>
                <li>Phone: 732 263-5392</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button href="#" class="btn" data-dismiss="modal">Close</button>
    </div>
</div>

<!-- DESIGN SHARE MODAL -->

<div id="share-modal" class="modal fade" data-bind="with: app.viewModel.scenarios">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Sharing</h3>
            </div>
            <div class="modal-body" style="height: 200px; text-align: center; overflow: hidden;">
                <div class="row-fluid">
                    <h4 class="sharing-header">Share my design with the following group(s):</h4>
                    <ul class="unstyled" id="sharing-groups" style="margin-left: 1px; height: 165px; outline: none;">
                        <span data-bind="foreach: sharingGroups">
                            <li data-bind="click: $parent.toggleGroup">
                                <div style="text-align: left; margin-left: 50px; cursor: pointer;">
                                    <div>
                                        <!--<input type="checkbox" style="margin-top: 0px; margin-bottom: 2px; margin-right: 3px;">-->
                                        <i class="far fa-large fa-check-square" data-bind="visible: $parent.groupIsSelected(group_name)"></i>
                                        <i class="far fa-large fa-square" data-bind="visible: !$parent.groupIsSelected(group_name)"></i>
                                        <span data-bind="text: group_name"></span>
                                        <a class="group-members-popover" rel="popover" data-bind="attr: {'data-content': $parent.groupMembers(group_name), 'data-original-title': group_name}">
                                            <i class="icon-group"> </i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </span>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button href="#" class="btn" data-bind="click: cancelShare" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn-submit btn" data-bind="click: submitShare" data-dismiss="modal">Share</button>
            </div>
        </div>
    </div>
</div>

<!-- DESIGN MAP LINKS MODAL -->

<div id="map-links-modal" class="modal fade" data-bind="with: app.viewModel.mapLinks" tabindex="-1" role="dialog" aria-labelledby="map-links-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="map-links-modal-label">Map Links</h4>
            </div>

            <div class="modal-body">
                <div>URL
                    <span class="pull-right">
                        <label>
                            <input class="short-url-checkbox" type="checkbox" data-bind="checked: shrinkURL" style="margin-top: 0px; margin-bottom: 3px">
                            Short URL
                        </label>
                    </span>
                </div>
                <div>
                    <input id="short-url" type="text" style="width: 96%" data-bind="attr: {value: getURL()}, css: {'change-url': shrinkURL}">
                </div>
                <div style="padding-top: 12px; padding-bottom: 5px">
                    Embedded Map
                </div>
                <div>
                    <input id="iframe-html" type="text" style="width: 96%" data-bind="attr: {value: getIFrameHTML}">
                </div>
<!--                 <div>
                    <a href="#" data-bind="click: openIFrameExample">
                        Preview embedded map
                    </a>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- ArcRest WMS LAYER MODAL -->
<div id="map-wms-modal" class="modal fade" data-bind="" tabindex="-1" role="dialog" aria-labelledby="map-wms-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="map-wms-modal-label">Session-Based ArcRest Layer Input Tool</h4>
            </div>
            <form id="sessionForm" data-bind="submit: submitWMSSession">
                <div class="modal-body" id="arcRestFormBody">
                  <p>This form allows you to add external map layers from ArcRest servers. <br />
                    <b><u>This is an advanced feature</u>.</b> Please consult the help links below or the manager of your desired ArcRest server for troubleshooting.</p>
                    <div id="wmsForms">
                        <div class="wmsForm">
                            <div class="form-group">
                               <label for="wmsName">Layer Name
                                 <button type="button" class="modal-help-toggle btn btn-link" data-toggle="collapse" data-target="#arcRestNameFieldHelp" aria-expanded="false" aria-controls="arcRestNameFieldHelp">Help</button>
                               </label>
                               <div id="arcRestNameFieldHelp" class="modal-form-help collapse">
                                 <div class="well modal-help-container">
                                   The <b>Layer Name</b> field will determine how the layer will be titled in your "Active" tab.
                                 </div>
                               </div>
                               <input type="text"
                                      class="form-control"
                                      name="name"
                                      id="wmsName"
                                      placeholder="Layer"
                                      pattern=".{3,}"
                                      required title="Layer Name requires at least 3 characters."
                                      >
                            </div>
                            <div class="form-group">
                               <label for="wmsUrl">URL Path
                                 <button type="button" class="modal-help-toggle btn btn-link" data-toggle="collapse" data-target="#arcRestUrlFieldHelp" aria-expanded="false" aria-controls="arcRestUrlFieldHelp">Help</button>
                               </label>
                               <div id="arcRestUrlFieldHelp" class="modal-form-help collapse">
                                 <div class="well modal-help-container">
                                   The <b>URL Path</b> is the "end point" of an external ArcGIS Server. It will look something like:<br />
                                   <i class="arcRest-example-url">https://mgelmaps.env.duke.edu/mdat/rest/services/MDAT/Avian_Abundance_CI90/MapServer</i><br />
                                   <br />
                                   Paste/type the URL of the external layer in the URL Path field. Type “/export” at the end of the URL.
                                   <!--
                                     To break that into east-to-understand pieces:
                                     <ul>
                                       <li>
                                         Your <b>Domain</b> (i.e.: https://mgelmaps.env.duke.edu)
                                       </li>
                                       <li>
                                         Your ArcRest <b>Services directory</b> (<a target="_blank" href="https://mgelmaps.env.duke.edu/mdat/rest/services">/mdat/rest/services</a>)
                                       </li>
                                       <li>
                                         Your ArcRest <b>Service Folder</b> (<a target="_blank" href="https://mgelmaps.env.duke.edu/mdat/rest/services/MDAT">/MDAT</a>)
                                       </li>
                                       <li>
                                         Your ArcRest <b>Service</b> (<a target="_blank" href="https://mgelmaps.env.duke.edu/mdat/rest/services/MDAT/Avian_Abundance_CI90/MapServer">/Avian_Abundance_CI90</a>)
                                       </li>
                                       <li>
                                         Your ArcRest <b>Service Type</b> (Generally <a target="_blank" href="https://mgelmaps.env.duke.edu/mdat/rest/services/MDAT/Avian_Abundance_CI90/MapServer">"/MapServer"</a> or "/FeatureServer")
                                       </li>
                                       <li>
                                         The <b>"Export Map"</b> operation (<a target="_blank" href="https://mgelmaps.env.duke.edu/mdat/rest/services/MDAT/Avian_Abundance_CI90/MapServer/export">/export</a>)
                                       </li>
                                     </ul>
                                    -->
                                 </div>
                               </div>
                               <input type="url"
                                      class="form-control"
                                      name="url"
                                      id="wmsUrl"
                                      placeholder="http://path.to.layer/export"
                                      >
                            </div>
                            <div class="form-group">
                                <label for="wmsLayerId">IDs <button type="button" class="modal-help-toggle btn btn-link" data-toggle="collapse" data-target="#arcRestIDsFieldHelp" aria-expanded="false" aria-controls="arcRestIDsFieldHelp">Help</button></label>
                                <div id="arcRestIDsFieldHelp" class="modal-form-help collapse">
                                  <div class="well modal-help-container">
                                    The <b>IDs</b> field is where you choose which layers you wish to add to the map by specifying their IDs.<br />
                                    <br />
                                    If you do not know your layer IDs, please open your ArcRest endpoint in a web browser and look at either your MapServer or FeatureServer for a list.<br />
                                    <br />
                                    <b>Specifying Multiple Layers:</b><br />
                                    You may specify multiple layer IDs by separating them with commas (",") - they will be treated as a single layer by this tool.<br />
                                    If you want to change the order or opacity of these layers independently in this tool, you will need to add them separately using the <b>+</b> button below.
                                  </div>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       name="layerId"
                                       placeholder="Ex. 12,23"
                                       >
                            </div>
                            <div class="text-right remove-wms">
                              <span class="remove-wms-form"><i class="fa fa-minus deep-blue "></i>&nbsp;Remove this Form Entry</span>
                            </div>
                            <hr />
                        </div>
                    </div>
                    <div class="text-right">
                        <span class="clone-wms-form"><i class="fa fa-plus deep-blue"></i>&nbsp;Add Another Layer</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-danger close-arcRest-modal">Cancel</button>
                    <button id="wmsFormSubmit" form="sessionForm" type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Disclaimer -->
{% if disclaimer.body %}
<div id="disclaimer-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              {% if disclaimer.title %}
                <h3>{{ disclaimer.title }}</h3>
              {% else %}
                <h3>Disclaimer</h3>
              {% endif %}
            </div>
            <div class="modal-body">
              {{ disclaimer.body.content|safe|escape }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Agree</button>
                {% if disclaimer.decline_url %}
                <a href="{{ disclaimer.decline_url }}" class="btn btn-cancel">Decline</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
