body.template-visualize .layer-info .layer-text {
  max-height: 114px;
  overflow-y: auto;
  border: 1px solid #CCC;
  border-radius: 0.3rem;
}

#user-content-notice {
  position: absolute;
  color: white;
  top: 1rem;
  /* left: 25vw; */
  /* room for 420px wide left-nav + 1rem buffer on each side */
  left: calc(2rem + 420px);
  /* 100vw - left - 1rem margin (left, right) - controls width (38px) - controls-right (30px) */
  width: calc(100vw - 1rem - 420px - 2rem - 38px - 30px);
  background-color: rgba(40,40, 150, 0.75);
  border: 1px solid white;
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: 1.5rem;
  visibility: hidden; /* disclaimer relies on KOBinding, so we need to hide it by default until binding is completed. */
}

i.btn-user-gen {
  color: var(--bright_icon);
}