body.template-visualize .layer-info .layer-text {
  max-height: 114px;
  overflow-y: auto;
  border: 1px solid #CCC;
  border-radius: 0.3rem;
}

#user-content-notice {
  position: absolute;
  color: white;
  top: 1rem;
  /* left: 25vw; */
  /* room for 420px wide left-nav + 1rem buffer on each side */
  left: calc(2rem + 420px);
  /* 100vw - left - 1rem margin (left, right) - controls width (38px) - controls-right (30px) */
  width: calc(100vw - 1rem - 420px - 2rem - 38px - 30px);
  background-color: rgba(40,40, 150, 0.75);
  border: 1px solid white;
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: 1.5rem;
  visibility: hidden; /* disclaimer relies on KOBinding, so we need to hide it by default until binding is completed. */
}

i.btn-user-gen {
  color: var(--bright_icon);
}

.layer-name.isInvisible, 
.layer-name.isInvisible td.text, 
.layer-name.isInvisible td.add-on, 
.layer-name.isInvisible a.sublayer-toggle-title i, 
.layer-name.isInvisible td.text span.deep-blue {
  color: #888;
  background-color: #DDD;
}

.layer-name.isInvisible {
  padding-bottom: 10px;
}

.layer-name.isInvisible a.sublayer-toggle-title i {
  float: right;
}

.layer-name.isInvisible td.add-on {
  text-align: right;
}

span.sublayer-status span.zoom-range-message,
td.add-on span.zoom-range-message {
  color: red;
  font-size: smaller;
  display: block ruby;
  margin-bottom: -20px;
  margin-top: -5px;
}

div#active.tab-pane.active {
  padding-bottom: 3rem;
}

div#clear-all-active {
  height:3rem; 
  width:420px; 
  bottom: -1px; 
  left: -1px; 
  position: absolute;
  display: grid;
  border-top: 1px solid #AAA;
}

div#clear-all-active button {
  border-radius: 0 0 0.5rem 0.5rem;
}