.legend-swatch {
    width: 30px;
    height: 30px;
    margin: auto 1.5rem auto 0.5rem;
    float: left;
}

.legend-line {
    width: 2rem;
    height: 0;
    margin: 1rem 1rem 0 0.75rem;
    float: left;
}

.legend-point_image {
    width: 30px;
    height: 30px;
    margin: auto 1.5rem auto 0.25rem;
    float: left;
}

#embedded-legend-content div.zoomInvisible {
  color: #888;
  background-color: #DDD;
}

#embedded-legend-content div.zoomInvisible span.invisible-status {
    text-align: right;
}
#embedded-legend-content div.zoomInvisible span.invisible-status i {
    position: absolute;
    right: 2rem;
    padding-top: 0.5rem;
}

#embedded-legend-content div.zoomInvisible span.invisible-status span.zoom-range-message {
    color: red;
    font-size: smaller;
    display: block ruby;
    float: right;
    margin-top: 2rem;
  }