.legend-swatch {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto 1.5rem auto 0.5rem;
    float: left;
}

.legend-line {
    width: 2rem;
    height: 0;
    margin: 1rem 1rem 0 0.5rem;
    float: left;
}
