.multilayerslider label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
}

/* below is not necessary, just for style */
.multilayerslider {
    width: 75%;
    margin: 2em auto;
}

.slider-row,
.slider-table {
  min-width: 100%;
}

.slider-cell {
  min-width: 100%;
}

.animated-slider-cell {
  width: 85%;
}
