@media print and (orientation: landscape) {
	html {
		/*min-height: 100%;*/
		/*min-width: 100%;*/
	}

	body.template-visualize #map-wrapper {
    height: 8.5in !important;
    position: relative;
    width: 11in !important;
  }

	/*

	body.template-visualize #map {
    bottom: 0;
    height: 100%;
    position: absolute;
    overflow: visible;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
  } */

	/* body.template-visualize #left-panel:not(.collapsed) {
    display: block;
    height: auto;
    left: 0;
    padding: 0 5%;
    position: absolute;
    top: 100%;
    width: 100%;
  }
*/
	body.template-visualize #left-panel {
    background: #f3f3f3 !important;
  }

  .gmnoscreen,
  .navicon,
  #OpenLayers.Control.MousePosition_43,
	.olControlZoom,
	#baselayers,
	#map-controls,
  .SimpleLayerSwitcher,
  #aggregated-attribute-content h4,
  #close-attribute-overlay,
	#bookmark-popover,
	#pageGuideMessage,
	.form-search {
		/*display: none;*/
	}

/*	#OpenLayers\2e Map_2_GMapContainer > div > div > div > div > div > div > div:nth-child(1) > div:nth-child(1) > img,
  #OpenLayers\2e Map_2_GMapContainer > div > div > div > div > div > div > div:nth-child(1) > div:nth-child(1),
  #OpenLayers\2e Map_2_GMapContainer > div > div > div > div > div > div > div > div {
    height: 256px;
    width: 256px;
  }
*/

  .panel-open #OpenLayers\2e Map_2_OpenLayers_Container {}

	.modal {
		display: none !important;
	}

  /* overwrite bootstrap print */
  .olTileImage {
    /*max-width: none !important;*/
  }

}
