@page {
	margin: 0.25in;
	orientation: landscape;
}

@media print {
	body.template-visualize #map-wrapper {
    height: 100%;
    width: 100%;
  }
}

@media print and (orientation: landscape) {
	body.template-visualize #map-wrapper {
    height: 8.5in !important;
    width: 11in !important;
  }
}

@media print and (orientation: portrait) {
	body.template-visualize #map-wrapper {
    height: 11in !important;
    width: 8.5in !important;
  }
}

@media print {

	body.template-visualize #left-panel {
		background: #f3f3f3 !important;
    background-color: #f3f3f3 !important;
		border: none;
		top: .25in !important;
		max-height: 8in !important;
		z-index: 9999999;
  }

	body.template-visualize .sidebar-nav .nav-tabs > li.active a {
		border-bottom: none !important;
	}

	body.template-visualize .tab-content .tab-pane {
		overflow-y: hidden;
		overflow-x: hidden;
	}

	body.template-visualize .tab-pane {
		display: none;
	}

	body.template-visualize #legend {
		display: block;
		visibility: visible;
	}

	#myTab h4 {
		font-size: 14px;
	}

	/* overwrite bootstrap print */
	img {
		max-width: none !important;
	}

  .olTileImage {
    max-width: none !important;
  }

	.olControlScaleBarGraphics div {
		background: #f3f3f3 !important;
		background-color: #333 !important;
		border: 1px solid #000;
		color: #333 !important;
	}

  .gmnoscreen,
  .navicon,
  #OpenLayers.Control.MousePosition_43,
	.olControlZoom,
	#baselayers,
	#map-controls,
  .SimpleLayerSwitcher,
  #aggregated-attribute-content h4,
  #close-attribute-overlay,
	#bookmark-popover,
	#pageGuideMessage,
	.form-search,
	.modal {
		display: none;
	}

	.olControlAttribution {
		left: 0;
	}

  /*.panel-open #OpenLayers\2e Map_2_OpenLayers_Container {}*/
}
