{% extends "visualize/includes/layer-row.html" %}

{% block "after" %}
      <ul class="dropdown-menu dropdown-menu-right layer-menu">
        <li data-bind="foreach: subLayers">
      <!-- ko if: !isCheckBoxLayer() -->
              <a data-bind="click: toggleActive">
                  <span><i class="far green" data-bind="css: { 'fa-check-circle': visible(), 'fa-circle': ! visible() }"></i></span>
                  <span class="deep-blue uppercase" data-bind="text: name"></span>
              </a>
      <!-- /ko -->
      <!-- ko if: isCheckBoxLayer() -->
              <a data-bind="click: toggleActive" style="padding-left: 15px">
                  <span><i class="far green" data-bind="css: { 'fa-check-square': visible(), 'fa-square': ! visible() }"></i></span>
                  <span class="deep-blue uppercase" data-bind="text: name"></span>
              </a>
      <!-- /ko -->
      </li>
    </ul>
{% endblock %}
