<table class="layer-row">
    <tr>
        <td class="layer-info-icon">
        <!-- ko ifnot: $data.hasOwnProperty('isMDAT') && $data.isMDAT -->
          <div style="margin:0;padding:0;width:40.5px;height:33px">
            <a class="btn btn-info-sign" data-bind="visible: hasInfo(), click: toggleDescription, css: { 'active': infoActive()}" data-toggle="tooltip" data-placement="right" data-title="More Info">
                <i class="fa fa-info-circle"></i>
              </a>
              <!-- ko if: isUserGenerated -->
                <i class="btn btn-user-gen btn-info-sign fa fa-user-edit" data-toggle="tooltip" data-placement="right" data-title="User-generated content"></i>
            <!-- /ko -->
          </div>
        <!-- /ko -->
        <!-- ko if: $data.hasOwnProperty('isMDAT') && $data.isMDAT && $data.parentMDATDirectory -->
              <a class="btn btn-info-sign" data-bind="attr: {'data-title': parentMDATDirectory.name }" data-toggle="tooltip" data-placement="right">
                  <i class="fa fa-info-circle"></i>
              </a>
        <!-- /ko -->
       
        </td>
        <!-- ko if: $data instanceof layerModel -->
        <td class="slider-button" data-bind="visible: (active() && app.viewModel.showSliderButtons() && $data.hasOwnProperty('is_multilayer_parent') && $data.is_multilayer_parent())">
          <a class="btn btn-primary btn-planner btn-slider" data-bind="click: showSlider" data-toggle="tooltip" data-placement="right" data-title="Toggle slider in Active tab">
            View Slider&nbsp;
            <i class="fa fa-play" aria-hidden="true"></i>
          </a>
        </td>
        <!-- /ko -->

        <td class="layer-name" data-bind="css: {zoomInvisible: !isVisibleAtZoom()}">
            <a class="btn btn-layer" data-bind='click: {% block "nameAction" %}toggleActive{% endblock %}'>
              <table>
                <tr>
                  <td class="text">
                    {% block "text-pre" %}
                    {% endblock %}
                    
                    <!-- ko if: hasOwnProperty('subLayers') && subLayers.length > 0 -->
                      <i class="fa deep-blue" data-bind="css: { 'fa-caret-down': showSublayers() , 'fa-caret-right': !showSublayers()  }"></i>
                    <!-- /ko -->
                    <!-- ko if: hasOwnProperty('dateRangeDirectory') && dateRangeDirectory != null -->
                      <span class="deep-blue" data-bind="text: dateRangeDirectory.name"></span>
                    <!-- /ko -->
                    <!-- ko if: isUserGenerated -->
                      <span class="deep-blue uppercase"><b><u>{{ USER_GEN_PREFIX }}</u></b></span>
                    <!-- /ko -->
                    <span class="deep-blue uppercase" data-bind="text: name"></span>
                  </td>
                  <td class="add-on">
                    <!--
                    <i class="fa fa-check-circle"  data-bind="visible: !$data.loadStatus(), css: { 'fa-check-circle': active() && visible(), 'fa': active() && visible(), 'fa-circle': !(active() && visible()), 'far': !(active() && visible()) }"></i>
                    <i class="fas fa-spinner fa-spin"  data-bind="visible: $data.loadStatus()=='loading'"></i>
                    <i style="color:red" title="error loading layer" class="fas fa-times-circle"  data-bind="visible: $data.loadStatus()=='error'"></i>
                    -->
                     <i class="fa fa-check-circle" data-bind="visible: !loadStatus(), css: { 'fa-check-circle': active() && visible(), 'fa': active() && visible(), 'fa-circle': !(active() && visible()), 'far': !(active() && visible()) }"  data-toggle="tooltip" data-placement="left" title="" data-original-title="Toggle Visibility"></i>
                     <i class="fas fa-spinner fa-spin"  data-bind="visible: $data.loadStatus()=='loading'"></i>
                     <i style="color:red" title="error loading layer" class="fas fa-times-circle"  data-bind="visible: $data.loadStatus()=='error'"></i>
                  </td>
                </tr>
              </table>
            </a>
        </td>
        {% block "controls" %}
        {% endblock %}
    </tr>
</table>
<!-- ko ifnot: $data.hasOwnProperty('isMDAT') && $data.isMDAT -->
<div class="layer-info" data-bind="visible: infoActive()">
    <div class="link-bar" data-bind="if: $data.hasOwnProperty('kml') || $data.hasOwnProperty('data_download') || $data.hasOwnProperty('metadata') || $data.hasOwnProperty('source')">
        <span data-toggle="tooltip" data-placement="bottom" data-container="body" title="Download for Google Maps">
            <!-- ko if: $data.hasOwnProperty("kml") -->
            <a class="btn btn-mini" data-bind="css: { disabled: ! kml() }, attr: { href: kml() }" target="_blank">
                kml <i class="fa fa-arrow-down" ></i>
            </a>
            <!-- /ko -->
            <!-- ko ifnot: $data.hasOwnProperty("kml") -->
            <a class="btn btn-mini disabled">
                kml <i class="fa fa-arrow-down" ></i>
            </a>
            <!-- /ko -->
        </span>
        <span data-toggle="tooltip" data-placement="bottom" data-container="body" data-title="Download ESRI Formatted Dataset">
            <!-- ko if: $data.hasOwnProperty("data_download") -->
            <a class="btn btn-mini" data-bind="css: { disabled: ! data_download() }, attr: { href: data_download() }" target="_blank">
                data <i class="fa fa-arrow-down" ></i>
            </a>
            <!-- /ko -->
            <!-- ko ifnot: $data.hasOwnProperty("data_download") -->
            <a class="btn btn-mini disabled">
                data <i class="fa fa-arrow-down" ></i>
            </a>
            <!-- /ko -->
        </span>
        <span data-toggle="tooltip" data-placement="bottom" data-container="body" data-title="View Metadata">
            <!-- ko if: $data.hasOwnProperty("metadata") -->
            <a class="btn btn-mini" data-bind="css: { disabled: ! metadata() }, attr: { href: metadata() }" target="_blank">
                metadata <i class="fa fa-external-link-square" ></i>
            </a>
            <!-- /ko -->
            <!-- ko ifnot: $data.hasOwnProperty("metadata") -->
            <a class="btn btn-mini disabled">
                metadata <i class="fa fa-external-link-square" ></i>
            </a>
            <!-- /ko -->
        </span>
        <span data-toggle="tooltip" data-placement="bottom" data-container="body" data-title="Link to Dataset Source Provider">
            <!-- ko if: $data.hasOwnProperty("source") -->
            <a class="btn btn-mini" data-bind="css: { disabled: ! source() }, attr: { href: source() }" target="_blank">
                source <i class="fa fa-external-link-square"></i>
            </a>
            <!-- /ko -->
            <!-- ko ifnot: $data.hasOwnProperty("source") -->
            <a class="btn btn-mini disabled">
                source <i class="fa fa-external-link-square"></i>
            </a>
            <!-- /ko -->
        </span>
    </div>
    <div class="layer-text" data-bind="visible: description">
        <span data-bind="html: description" class="layer-description"></span>
        <!-- ko if: $data.hasOwnProperty('data_url') && $data.data_url -->
        <a data-bind="attr: {href: $data.data_url}" target="_blank">read more</a>.
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->

{% block "after" %}
<!-- ko if: $data.hasOwnProperty('is_multilayer_parent') && $data.is_multilayer_parent() -->
<div data-bind="foreach: dimensions; visible: $data.is_multilayer_parent()">
  <table class="slider-table" data-bind="visible: nodes.length, attr: {id: $parent.id + '_' + label + '_slider-table'}">
    <tr class="slider-row">
      <!-- ko if: $data.animated -->
        <td class="animated-slider-cell">
          <div class="slider multilayerslider" data-bind="attr: {id: $parent.id + '_' + label + '_multilayerslider'}"></div>
        </td>
        <td class='animation-check-container'  data-toggle="tooltip" data-placement="left" title="" data-original-title="Animate">
          <input type="checkbox" data-bind="attr: {id: $parent.id + '_animate_multilayerslider'}" class="animate-checkmark" name="animate" value="animate">
          <label data-bind="attr: {for: $parent.id + '_animate_multilayerslider'}">
            <i class="fa fa-play" aria-hidden="true"></i>
          </label>
        </td>
      <!-- /ko -->
      <!-- ko ifnot: $data.animated -->
        <td class="slider-cell">
          <div class="slider multilayerslider" data-bind="attr: {id: $parent.id + '_' + label + '_multilayerslider'}"></div>
        </td>
      <!-- /ko -->
    </tr>
  </table>
</div>
<!-- /ko -->
{% endblock %}
