<table class="layer-row">
    <tr>
        <td class="layer-info-icon">
            <a class="btn btn-info-sign" data-bind="attr: { href: learn_more }" data-toggle="tooltip" data-placement="right" data-title="More Info" target="_blank">
                <i class="fa fa-info-circle"></i>
            </a>
        </td>
        <td class="layer-name">
            <a class="btn btn-layer mdat-layer">
              <table>
                <tr>
                  <td class="text" data-bind='click: {% block "nameAction" %}ajaxMDAT{% endblock %}'>
                    {% block "text-pre" %}
                    {% endblock %}
                    <i class="fa deep-blue" data-bind="css: { 'fa-caret-down': showSublayers() , 'fa-caret-right': !showSublayers()  }"></i>
                  <span class="deep-blue uppercase" data-bind="text: name"></span>
                  </td>
                  <td class="add-on">
                    <i class="fa fa-check-circle"  data-bind="css: { 'fa-check-circle': visible(), 'fa': visible(), 'fa-circle': !(visible()), 'far': !(visible()) }, click: deactivateMDATDirectory"></i>
                  </td>
                </tr>
              </table>
            </a>
        </td>
        {% block "controls" %}
        {% endblock %}
    </tr>
</table>

{% block "after" %}
{% endblock %}
